<div style="margin-bottom: 1rem" class="row container-fluid">
    @if (VisibleLeft)
    {
        <div class=@classleft>@Left</div>
    }
    @if (VisibleRigth)
    {
        <div class=@classrigth>@Rigth</div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment Left { get; set; }
    [Parameter]
    public RenderFragment Rigth { get; set; }
    [Parameter]
    public int ColLeft { get; set; } = 6;
    [Parameter]
    public bool VisibleLeft { get; set; } = true;
    [Parameter]
    public bool VisibleRigth { get; set; } = true;
    int ColRigth => VisibleLeft==true? 12 - ColLeft:12;

    string classleft => $"col-md-{ColLeft}";
    string classrigth => $"col-md-{ColRigth}";
}