@typeparam TValue

<div style="margin-bottom: 0.1rem" class="row">
    <div class=@UISettings.ColClassLabel>
        <RadzenLabel Text="@Label" Style=@StyleBoxWidth100 />
    </div>
    <div class=@UISettings.ColClassValue>
        <RadzenNumeric ShowUpDown="false" Name="Numeric" Disabled=@Disabled
                       TValue=TValue @bind-Value=@Value Format="@Format"
                       Placeholder="Enter or clear value" Change="OnChange" Style=@StyleBoxWidth100 />


        @if (Required)
        {
            <RadzenCompareValidator Value=@TargetValue Component="Numeric" Text=@RequiredText Popup=true Style="position: absolute" Operator=@compareOperator />
      
        }
        @if (IsRegexValidator)
        {
            <RadzenRegexValidator Component="Numeric" Text="@RegexError" Pattern="@Regex" Popup=true Style="position: absolute" />

        }



    </div>
</div>

@code {

    CompareOperator compareOperator = CompareOperator.NotEqual; 
    public string StyleBoxWidth100 { get; set; } = "width: 100%; padding-top:2px; padding-bottom:2px";
    public string StyleBox { get; set; } = "padding-top:2px; padding-bottom:2px";
}
