@typeparam T
@if (debug)
{

}
<div style="margin-bottom: 0.2rem" class="row">
    <div class=@UISettings.ColClassLabel>
        <RadzenLabel Text="@Label" Style=@UISettings.StyleBoxWidth100 class=@UISettings.ClassBox />
    </div>
    <div class=@UISettings.ColClassValue>
        <RadzenDropDown AllowClear="true" TValue="T" Style=@UISettings.StyleBoxWidth100 Disabled=@Disabled
                        class=@UISettings.ClassBox
                        Data=@Elements @bind-Value=@Value Name="Select"
                        Change=OnChange />


        @if (Required &&enumname!="None")
        {
            <RadzenRequiredValidator Component="Select" Text=@RequiredText Popup=true Style="position: absolute" />
        }




    </div>
</div>
@code {
    bool debug = true;
    async Task OnChange()
    {
        //Model = value;

        await ValueChanged.InvokeAsync(Value);

    }
    public string StyleBoxWidth100 { get; set; } = "width: 100%; padding-top:2px; padding-bottom:2px";
    public string StyleBox { get; set; } = "padding-top:2px; padding-bottom:2px";
}
