@page "/pipe-classes"
@using CPTool.Application.Features.PipeClassFeatures.CreateEdit;
@using CPToolRadzen.Pages.PipeDiameter.List


@inherits BaseTableTemplate<EditPipeClass>
<div class="container">
    <div class="row" style="margin-bottom: 1rem">
        <div class="col" style="margin-bottom: 1rem">
<TableTemplate T="EditPipeClass"
               TableName=@($"{TableName} List")
               Elements="@Elements"
               @bind-SelectedItem=@Selected
              ShowDialog="ShowDialog"
               @bind-GlobalElements="@RadzenTables.PipeClasses">

    <Columns>
        <RadzenDataGridColumn TItem="EditPipeClass" Property="@nameof(EditPipeClass.Name)" Title="Name" TextAlign="TextAlign.Left">
        </RadzenDataGridColumn>

    </Columns>
</TableTemplate>
  </div>
        <div class="col" style="margin-bottom: 1rem">
            <PipeDiameterList ParentId=@Selected.Id 
            TableName="@($"Pipe diameter in {Selected.Name}")"    
            >

            </PipeDiameterList>
        </div>
    </div>
</div>
@code {

}
