@using CPTool.Application.Features.ChapterFeatures.Command.CreateEdit
@using CPTool.Application.Features.ChapterFeatures.Query.GetList
@using CPTool.Application.Features.MaterialFeatures.Query.GetList
<CascadingValue Value="this">


    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingValue>
@code
{
    [Inject]
    public IMediator mediator { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await GlobalTables.InitializeTables(mediator);
    }


    


}
