@using CPTool.Application.Features.ChapterFeatures.CreateEdit
@using CPTool.Application.Features.ChapterFeatures.Query.GetList
@using CPTool.Application.Features.MaterialFeatures.Query.GetList
<PageTitle>CP Tool</PageTitle>
<CascadingValue Value="this">


    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingValue>
@code
{
   
    protected override async Task OnInitializedAsync()
    {
        await GlobalTables.InitializeTables(Mediator);
        //await GlobalTablesService.InitializeTables();
    }


}
